{% extends 'base.html.twig' %}

{% block title %}
  Hello
  {{ controller_name }}
{% endblock %}

{% block content %}
  <div class="row center-align">
    <div class="col s12 m3 offset-m9">
      <div class="card-panel teal index-menu">
        Evénement à venir :
      </div>
    </div>
  </div>

  <!--      
    ^ ^
("\(-_-)/")
 )($ch0w)(
 ((..)(..))
  -->
{% endblock %}
