{% extends 'base.html.twig' %}

{% block title %}
  Acceuil
{% endblock %}

{% block content %}
<div class="parallax-container">
  <div class="parallax">
    <img src="img/image0.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">
        Notre comité
      </h2>
      <p>
        Nous sommes disponibles pour entendre vos remarques et propositions sur la vie du quartier et pour l'amélioration du quotidien et du vivre-ensemble. 
        26 quartiers composent le territoire d'Amiens. Chacun de ces quartiers est représenté par un comité de quartier, structure associative ouverte à tous les résidents.
        <br><br>
        Les comités de quartier sont le relais des demandes des habitants et sont un partenaire privilégié de la municipalité par leur connaissance approfondie de leur secteur.
        Ce sont nos adhérents qui font la force du comité et qui permettent de faire face aux enjeux de notre quartier. 
        Plus nous serons nombreux, plus la voix des habitants pourra se faire entendre ! 
        Votre soutien est primordial ! Aidez-nous à rendre le quartier dynamique et animé !
      </p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
      <img src="img/test.jpg"></div>
    </div>  
{% endblock %}
