{% extends 'base.html.twig' %}

{% block title %}
  Hello
  {{ controller_name }}
{% endblock %}

{% block content %}
  <div class="row center-align">
    <div class="col s12 m3 l3 xl3 offset-m9 offset-l9 offset-xl9">
      <div class="card-panel teal index-menu">
        Evénement à venir :
      </div>
    </div>
  </div>
{% endblock %}
