<script>
	#newsl_but {
margin : 15 px;
}
</script>
<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="card-panel teal col l6 s12">
				<div
					class="row"><!-- content here -->
				</div>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="black-text">
					Liens :
				</h5>
				<ul>
					<li><a class="black-text text-lighten-3" href="#!">Plan du site</a></li>
					<li><a class="black-text text-lighten-3" href="#!">Mentions légales</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container black-text">
			© 2021 Copyright Text
			<a class="black-text text-lighten-4 right" href="{{ path('admin_home')}}">Administration</a>
		</div>
	</div>
</footer>
