<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Rapport d'assemblée générale</a></li>
  <li><a href="#!">Album photo</a></li>
  <li><a href="#!">Doléances en cours</a></li>
</ul>
<nav>
	<div class="nav-wrapper">
		<div class="container"> 
			<a href="#" class="brand-logo center"><img src="img/logo.svg" width="300"></a>
			<ul id="nav-mobile" class="hide-on-med-and-down">
				<li class="right">
					<a href="#">Déposer une doléance</a>
				</li>
				<li class="left">
					<a class="dropdown-trigger" href="#!" data-target="dropdown1">Menu<i class="material-icons right">arrow_drop_down</i></a>
				</li>
			</ul>
		<div>
	</div>
</nav>