<div class="center" id="logo_title">
  <p>
    <img src="img/logo.png"
      class="circle responsive-img"
      alt="Logo"
      width="125"
      height="125"
      id="LogoTitle" />
  </p>
  <a href="#" class="brand-logo center" id="title-main">
    Comité de quartier du petit Saint-Jean
  </a>
</div>
<nav class="center-align">
  <a href="#" data-target="mobile-demo" class="sidenav-trigger">
    <i class="material-icons">menu</i>
  </a>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="hide-on-med-and-down">
      <li><a href="sass.html">Notre quartier</a></li>
      <li><a href="badges.html">Les commerces du quartier</a></li>
      <li><a href="collapsible.html">Compte rendu</a></li>
      <li><a href="collapsible.html">Doléance</a></li>
    </ul>
  </div>
</nav>
