<!-- <div class="navbar-fixed"> -->
	<nav>
		<div class="nav-wrapper">
			<div class="container"> 
				<a href="#" class="brand-logo">PSJ</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href="sass.html">Les commerces du quartier</a>
					</li>
					<li>
						<a href="badges.html">Les doléances</a>
					</li>
					<li>
						<a href="collapsible.html">Les comptes-rendus</a>
					</li>
				</ul>
			<div>
		</div>
	</nav>
<!-- <div> -->