* {
  font-family: open sans;
}

.bodymain {
  background-color: #ffffec;
}

.nav-wrapper {
  background-color: #cdc963 !important;
  font-size: 14px;
  color: black;
}

.page-footer {
  background-color: #555555 !important;
  font-size: 14px;
  color: black !important;
}

nav ul a {
  color: #010101;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ffffec;
}

main {
  flex: 1 0 auto;
}

.teal {
  background-color: #e3d9ad !important;
}

#logo_title {
  background-color: #f2e7b7;
  height: 250px;
  width: 100%;
}

#LogoTitle {
  margin-top: 20px;
}

#title-main {
  color: #c8aa99;
  font-size: 35px;
}