<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}
				Interface d'administration
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('materialize') }}
			{{ encore_entry_link_tags('app') }}
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
			<link rel="preconnect" href="https://fonts.gstatic.com"/>
			<link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
			<noscript>
				<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"/>
			</noscript>
		{% endblock %}


	</head>

	<main>
		<body>
			{# On appelle notre sidenav #}
			{% block sidenav %}
				{% include './block/sidenav.html.twig' %}
			{% endblock %}
		{% block body %}
			{% block homeadmin %}	
			{# On encapsule notre 'content' dans un container #}
			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
			{% endblock %}
		{% endblock %}		
			{% block javascripts %}
				{{ encore_entry_script_tags('materialize') }}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</main>
</html>
